{% extends 'base.html.twig' %}

{% block title %}OBDII{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            Čia bus kažkokia nice info.
        </div>
    </div>
</div>
{% endblock %}
